<div class="height-max" [ngClass]="{'minimizado': receiveMenuState}">
  <div class="header">
    <h1 class="cor-texto font-titulo fadeIn">{{ titleState.title }}</h1>
    <div class="links">
      <div class="align-right">
        <button (click)="navigateToFastAccess()" class="text-uppercase me-5" mat-flat-button color="accent">
          <span>{{ 'Acesso rápido' | uppercase }}</span>
          <mat-icon class="rotate-90 cor-texto-claro">keyboard_tab</mat-icon>
        </button>
        <span class="text-user">{{ user?.Description | uppercase }}</span>
      </div>
      <div class="mx-2">|</div>
      <div>
        <button (click)="logoff()" mat-button>
          logout
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="content">
    <ng-content></ng-content>
  </div>

</div>
