<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile [colspan]="2" >
    <mat-card class="w-100">
      <div class="cards-wrapper">
        <div class="card card-outlined card-number">
          <div class="info-wrapper">
            <span>12</span>
            <span></span>
          </div>

        </div>
        <div class="card card-outlined card-number">
          <div class="info-wrapper">
            <span>43</span>
            <span></span>
          </div>

        </div>
        <div class="card card-outlined card-number border-accent">
          <div class="info-wrapper">
            <span>76</span>
            <span></span>
          </div>

        </div>
        <div class="card card-outlined card-number">
          <div class="info-wrapper">
            <span>78</span>
            <span></span>
          </div>
        </div>
      </div>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>
