snack-bar-container span {
  font-family: "KanitLight" !important;
  font-size: $size-16 !important;
}


.snackbar-success {
  --mdc-snackbar-container-color: #00AC8F !important;
}

.snackbar-info {
  --mdc-snackbar-container-color: #03A9F4 !important;
}

.snackbar-warning {
  --mdc-snackbar-container-color: #DF912E !important;
}

.snackbar-error {
  --mdc-snackbar-container-color: #F44336 !important;

}

.snackbar-success, .snackbar-info, .snackbar-warning, .snackbar-error {
  --mdc-snackbar-supporting-text-color: #fff !important;
  --mat-mdc-snack-bar-button-color: #fff !important;
  font-family: "KanitLight" !important;
  font-size: $size-16 !important;
  color: #fff !important;
  white-space: pre-wrap;

  .mat-button-wrapper {
    color: #fff !important;
    font-family: 'KanitRegular' !important;
    font-size: $size-14 !important;
  }
}
