.month-picker button.mat-calendar-period-button {
  pointer-events: none !important;
  display: none;
}

.month-picker .mat-calendar-arrow {
  display: none;
}

mat-month-view {
  font-family: 'KanitLight' !important;
}
