@import ".././variables";

$primary-color: (
  50: #fff8e1,
  100: #ffecb3,
  200: #ffe082,
  300: #ffd54f,
  400: #ffca28,
  500: #FFCC4D,
  600: #ffb300,
  700: #ffa000,
  800: #ff8e00,
  900: #ff6e01,
  contrast:
    (
      50: rgba(black, 0.87),
      100: rgba(black, 0.87),
      200: rgba(black, 0.87),
      300: rgba(white, 0.87),
      400: rgba(white, 0.87),
      500: rgba(white, 0.87),
      600: rgba(white, 0.87),
      700: rgba(white, 0.87),
      800: rgba(white, 0.87),
      900: rgba(white, 0.87)
    )
);

$secondary-color: (
  50: #e1f5fe,
  100: #b3e5fc,
  200: #81d3fa,
  300: #4ec2f7,
  400: #28b5f6,
  500: #03a8f4,
  600: #049ae5,
  700: #0487d1,
  800: #0476bd,
  900: #03569b,
  A100: #84ffff,
  A200: #18ffff,
  A400: #00e5ff,
  A700: #00b8d4,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(white, 0.87),
    400: rgba(white, 0.87),
    500: rgba(white, 0.87),
    600: rgba(white, 0.87),
    700: rgba(white, 0.87),
    800: rgba(white, 0.87),
    900: rgba(white, 0.87),
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white,
  )
);

$gate-palette-primary: (
  50:   lighten($gate-color-primary, 25%),
  100:  lighten($gate-color-primary, 20%),
  200:  lighten($gate-color-primary, 15%),
  300:  lighten($gate-color-primary, 10%),
  400:  lighten($gate-color-primary, 5%),
  500:  $gate-color-primary,
  600:  darken($gate-color-primary, 5%),
  700:  darken($gate-color-primary, 10%),
  800:  darken($gate-color-primary, 15%),
  900:  darken($gate-color-primary, 20%),
  A100: $gate-color-primary,
  A200: $gate-color-primary,
  A400: $gate-color-primary,
  A700: $gate-color-primary,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(white, 0.87),
    400: rgba(white, 0.87),
    500: rgba(white, 0.87),
    600: rgba(white, 0.87),
    700: rgba(white, 0.87),
    800: rgba(white, 0.87),
    900: rgba(white, 0.87),
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white,
  )
);

$gate-palette-secondary: (
  50:   lighten($gate-color-secondary, 25%),
  100:  lighten($gate-color-secondary, 20%),
  200:  lighten($gate-color-secondary, 15%),
  300:  lighten($gate-color-secondary, 10%),
  400:  lighten($gate-color-secondary, 5%),
  500:  $gate-color-secondary,
  600:  darken($gate-color-secondary, 5%),
  700:  darken($gate-color-secondary, 10%),
  800:  darken($gate-color-secondary, 15%),
  900:  darken($gate-color-secondary, 20%),
  A100: $gate-color-secondary,
  A200: $gate-color-secondary,
  A400: $gate-color-secondary,
  A700: $gate-color-secondary,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(white, 0.87),
    400: rgba(white, 0.87),
    500: rgba(white, 0.87),
    600: rgba(white, 0.87),
    700: rgba(white, 0.87),
    800: rgba(white, 0.87),
    900: rgba(white, 0.87),
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white,
  )
);
