@import '/src/assets/scss/variables';
@import '/src/assets/scss/mixins';
@import '/src/assets/scss/utils';

.table-container {
  height: calc(100vh - 26.8em);
  overflow-x: hidden;
  overflow-y: auto;
}

table.access-table {
  tr.mat-mdc-header-row {
    height: 40px !important;
  }

  tr:not(.mat-mdc-header-row) {
    transition: all .2s ease-in-out;
    height: 40px !important;

    .mat-mdc-icon-button {
      height: 40px !important;
      mat-icon {
        font-size: 1.25rem;
      }
    }

    &:hover {
      transition: all .2s ease-in-out;
      background-color: lighten($ultra-light-main-font-color, 30%);
    }
  }

  th {
    font-family: 'KanitBold' !important;
    font-weight: 500;
    font-size: $size-18;
    color: $main-color;
    border-bottom-color: transparent;
  }

  td.mat-mdc-cell {
    border: 2px transparent solid !important;
    font-family: 'KanitLight' !important;
    font-weight: 500;
    font-size: $size-14;
  }
}

span {
  font-family: 'KanitRegular';
  font-weight: 500;
  font-size: $size-18;
}

div.card-outlined {
  box-shadow: none !important;

  &.no-padding {
    padding: 0 !important;
    margin: 0 !important;
  }
}

mat-icon.user-no-image {
  font-size: 9em;
  height: auto;
  width: auto;
}

img.last-user-image {
  @include rounded(10%);
  width: 10em;
}


div.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
}

