<div *ngIf="!loading" class="main-container my-3 fadeIn">
  <mat-card class="mb-3">
    <h3 class="color-primary mb-2">Último acesso por</h3>
    <div *ngIf="lastAccess" class="card card-outlined faded no-padding">
      <div class="row">
        <div class="col-auto">
          <img *ngIf="lastUserImage" class="last-user-image" [src]="lastUserImage" alt="last-user-image">
          <mat-icon class="user-no-image" *ngIf="!lastUserImage">account_box</mat-icon>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="row my-3 font-14">
            <span class="font-600">Nome:</span>
            <span class="text-muted">{{ lastAccess?.resident?.name ? lastAccess.resident.name : 'Nenhum' }}</span>
          </div>
          <div class="row my-3 font-14">
            <span class="font-600">Local:</span>
            <span class="text-muted">{{ lastAccess?.place?.placename ? lastAccess?.place?.placename : 'Desconhecido' }}</span>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="row my-3 font-14">
            <span class="font-600">Sobrenome:</span>
            <span class="text-muted">{{ lastAccess?.resident?.lastName ? lastAccess?.resident?.lastName : 'Nenhum'  }}</span>
          </div>
          <div class="row my-3 font-14">
            <span class="font-600">Nível de acesso:</span>
            <span class="text-muted">{{ lastAccess?.resident?.type ? lastAccess?.resident?.type : 'Desconhecido' }}</span>
          </div>
        </div>

        <div class="col-lg-2 col-md-6">
          <div class="row my-3 font-14">
            <span class="font-600">CPF:</span>
            <span class="text-muted">{{ lastAccess?.resident?.documentNumber ? (lastAccess?.resident?.documentNumber! | mask : '000.000.000-00') : '000.000.000-00' }}</span>
          </div>
          <div class="row my-3">
            <span class="font-600">Horário:</span>
            <span class="text-muted">{{lastAccess?.date ? (lastAccess?.date | date : 'dd/MM/yyyy HH:mm:ss') : 'Desconhecida'}}</span>
          </div>
        </div>

        <div class="col-lg-2 col-md-6">
          <app-access-symbol [showText]="true" iconSize="access-lg" [accessType]="lastAccess.accessType"/>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card class="table-card">
    <div class="filter-wrapper my-2">
      <mat-chip #allChip [highlighted]="HasAll && (!entryChip.highlighted || !exitChip.highlighted)" (click)="filterAll()" color="accent">
        <span class="font-14">Todos</span>
      </mat-chip>
      <mat-chip #entryChip [highlighted]="HasOnlyEntries && (!allChip.highlighted || !exitChip.highlighted)" (click)="filterOnlyEntries()" class="mx-2" color="accent">
        <span class="font-14">Somente entradas</span>
      </mat-chip>
      <mat-chip #exitChip [highlighted]="HasOnlyExits && (!allChip.highlighted || !entryChip.highlighted)" (click)="filterOnlyExits()" color="accent">
        <span class="font-14">Somente saídas</span>
      </mat-chip>
    </div>
    <div class="table-container">

      <table class="access-table" mat-table [dataSource]="accesses" matSort matSortActive="date" matSortDisableClear matSortDirection="desc">
        <!-- Number Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td class="text-muted font-600" mat-cell *matCellDef="let row">{{ row.id }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let row">{{row.resident.name + ' ' + row.resident.lastName}}</td>
        </ng-container>

        <!-- Level Column -->
        <ng-container matColumnDef="place">
          <th mat-header-cell *matHeaderCellDef>Local</th>
          <td mat-cell *matCellDef="let row">{{ row.place.placename }}</td>
        </ng-container>

        <!-- Level Column -->
        <ng-container matColumnDef="level">
          <th mat-header-cell *matHeaderCellDef>Nível de acesso</th>
          <td mat-cell *matCellDef="let row">{{ row.resident.type }}</td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            Horário
          </th>
          <td mat-cell *matCellDef="let row">{{ row.date | date : 'dd/MM/yyyy HH:mm:ss' }}</td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            Tipo
          </th>
          <td mat-cell *matCellDef="let row">
            <app-access-symbol iconSize="access-sm" [accessType]="row.accessType"/>
          </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="options">
          <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            Ações
          </th>
          <td class="d-flex justify-content-center align-items-center" mat-cell *matCellDef="let row; let i = index">
            <button (click)="openMoreInfoDialog(i)" mat-icon-button>
              <mat-icon class="text-center" color="accent">more</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <!-- <mat-paginator [length]="resultsLength" [pageSize]="30" aria-label="Select page of GitHub search results"></mat-paginator> -->
  </mat-card>
</div>

<div *ngIf="loading" class="spinner-container">
  <app-spinner></app-spinner>
</div>
